.btns {
    text-align: center;
    margin: 20px;
}

button {
    background-color: black;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
    margin: 1px;

    &:hover {
        background-color: #333;
    }
}

li {
    text-transform: capitalize;
    list-style: none;
    text-align: center;
    line-height: 1.6;

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
    }
}